@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 57%, #2B86C5 100%);

    font-family: 'Poppins', sans-serif;
}

.parent{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.anchor{
    position: fixed;
    width: 50px;
    height:30px;
    margin:0px 50px;
    border:2px solid black;
    border-radius: 30px;
}

#back{
    background-color:black;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.anchor:hover{
    animation-name: backbtn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
    @keyframes backbtn{
        to 
        {
        transform: rotate(360deg);
        }
    }

#cl{
    text-decoration: none;
    color:green;
}

.an:hover{
    cursor: pointer;
    color:black;
    border:1px dotted black;
    border-radius: 8px;
}

.click{
    position:absolute;
    top:0.75px;
    right:5px;
    font-size: 13px;
    margin:4px 0px;
    padding:3px;
    border-radius: 8px;
    background-color: white;
}

.card{
    width:300px;
    border:5px solid black;
    border-radius:40px;
    box-shadow: 10px 10px 5px rgb(36, 33, 33);
    margin:50px auto;
    padding:10px;
    background-color: white;
}

.image{
    width:100%;
    height:100%;
    border-radius: 40px;
}

.image:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    /* transform: rotate(360deg); */
}

.img{
    width:300px;
    height:300px;
    box-sizing: border-box;
}

.img:hover{
    cursor: pointer;
}

p{
    text-align: justify;
}

.box{
    width:200px;
    border-radius:10px;
    display: inline-block;
    box-shadow: 10px 10px 5px rgb(36, 33, 33);
    border: 2px solid black;
    margin: 50px;
    padding:10px;
    background-color: white;
}

.box:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}

.heroes{
    width:100%;
    height:100%;
    border-radius: 10px;
}

.heroes:hover{
    cursor: pointer;
}

#xy{
    position: relative;
}

.boxy{
    width:200px;
    height:200px;
    box-sizing: border-box;
}